.Register {
  display: flex;
  min-height: 100vh;
}

.left-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  background-color: #1F66B9;
  color: #fff;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 70%;
}

.entry-form {
  width: 600px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 8px;
}

.input-name {
  padding: 8px;
  margin-bottom: 6px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-apellido {
  padding: 8px;
  margin-bottom: 6px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-usuario {
  padding: 8px;
  margin-bottom: 6px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.select-game {
  padding: 8px;
  margin-bottom: 6px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-email {
  width: 100%;
  padding: 8px;
  margin-bottom: 6px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password {
  padding: 8px;
  margin-bottom: 6px;
}

.input-password {
  width: 100%;
  padding: 8px;
  margin-bottom: 6px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-register {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.button-signIn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.textfield-container {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.row {
  display: flex;
}

.register-buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1060px) {
  .login-container {
    flex-basis: 100%;
  }

  .left-half {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .login-container {
    flex-basis: 100%;
  }

  .entry-form {
    width: 80%;
  }

  .row {
    flex-direction: column;
  }

  button {
    margin: 10px 0;
  }

  .left-half {
    display: none;
  }
}